.commentWrapper {
    margin-top: 2rem;
    display: flex;
}

.commentWrapper + .commentWrapper {
    margin-top: 1.5rem;
}

.comment {
    width: 100%;
    margin-left: 1rem;
}

.content {
    margin-top: 1rem;
}

.commentBox {
    background-color: var(--gray8);
    border-radius: 8px;
    padding: 1rem 1rem 1.563rem;
    margin-bottom: 1rem;
}

.commentBox header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.delete {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    line-height: 0;
    color: var(--gray5);
}

.delete:hover {
    cursor: pointer;
    color: var(--red-danger);
}

.info > strong {
    font-size: 0.875rem;
    font-weight: bold;
    display: block;
}

.info > time {
    font-size: 0.75rem;
    color: var(--gray5);
    display: block;
}

.applause {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    color: var(--gray5);
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 0;
    user-select: none;
}

.applause:hover {
    color: var(--gray7);
    cursor: pointer;
}

.applause > svg {
    margin-right: 0.625rem;
}

.applauseCount::before {
    content: '\2022';
    margin: 0 0.25rem;
}