.post {
    background-color: var(--gray2);
    padding: 2.5rem;
    border-radius: 8px;
}

.post + .post {
    margin-top: 2rem;
}

.post header {
    display: flex;
    justify-content: space-between;
}

.post header time {
    color: var(--gray5);
    font-size: 0.875rem;
}

.authorInfo {
    display: flex;
    align-items: center;
}

.authorInfo img {
    margin-right: 1rem;
}

.authorInfo strong {
    display: block;
}

.authorInfo span {
    display: block;
    color: var(--gray5);
    font-size: 0.875rem;
}

.avatar {
    box-sizing: initial;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 8px;
    border: var(--gray2) solid 4px;
    outline: var(--green-light) solid 2px;
}

.content {
    white-space: pre-wrap;
    margin-top: 1.5rem;
    color: var(--gray6);
}

.content a {
    color: var(--green-light);
}
.content a:hover {
    color: var(--green);
    cursor: pointer;
}

.post footer {
    border-top: 1px solid var(--gray3);
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post footer textarea {
    background-color: var(--gray1);
    resize: none;
    min-height: 6rem;
    border-radius: 8px;
    border: none;
    padding: 0.813rem 1rem;
    color: var(--gray6);
}

/* .post footer textarea:focus + button {
    display: block;
} */

.post footer button {
    align-self: flex-start;
    padding: 1rem 1.5rem 0.875rem;
    border-radius: 8px;
    background-color: var(--green);
    color: var(--white);
    border: none;
    font-weight: bold;

    /* display: none; */
    transition: background-color 0.15s;
}

.post footer button:hover {
    background-color: var(--green-light);
    cursor: pointer;
}