.wrapper {
    max-width: calc(70rem + 2rem);
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 16rem 1fr;
    gap: 2rem;

    align-items: flex-start;
}

@media (max-width: 768px) {
	.wrapper {
        grid-template-columns: 1fr;
    }
    html {
        font-size: 85%;
    }
}

@media (max-width: 425px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
    html {
        font-size: 69%;
    }
}